body {
  font-size: 16px;
  background-color: #fff;
  color: #000;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

a {
  color: #E5E5E5;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

/**** Navigation Styles ****/

nav {
  background-color: rgba(0,0,0,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

/**** Header Styles ****/

header {
  margin: 20px 0;
}

.medium-pic {
  width: 70%;
}

figcaption {
  font-size: .75em;
}

h1 {
  font-size: 4em;
  line-height: 1.2;
  font-weight: 900;
  margin-top: 20px;
}

h3 {
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.2
}

.author {
  font-size: .75em;
  line-height: 1.2;
}

/**** Article Styles ****/

.story-text {
  line-height: 1.2;
}
